@model List<LearnASPWithAkichan.Models.KyDangKy>
@{
    ViewData["Title"] = "Quản lý kỳ đăng ký";
    ViewData["Description"] = "Thêm, chỉnh sửa kỳ đăng ký";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

<div class="filter">
                <ul>
                    <li class="btn btn-outline"><i class="fa fa-plus" aria-hidden="true"></i> <a asp-action="ThemKyDangKy" style="text-decoration:none !important;"> Thêm kỳ đăng ký</a></li>
                </ul>
            </div>

            <!-- Ghi Xuất dữ liệu ở đây-->
            <div class="contentWrapper">
                <div class="contentCard longCard">
                    <div class="cardContent">
                       <div class="cardMainContent">
                            <h2>@ViewData["Title"]</h2>
                            <br>
                            <p>@ViewData["Description"]</p>
                       </div>

                       <div class="cardSubContent">
                           
                       </div>
                    </div>

                    <div class="cardImage">
                        <img src="https://cdn.donmai.us/sample/96/32/__anya_spy_x_family_drawn_by_nijizuki_shino__sample-96328ea11fae48a6884706f66b72c72a.jpg" alt="ThongBao" srcset="">
                    </div>

                </div>      
                

                @foreach (var item in Model)
                {
                    <div class="contentCard">
                        <div class="cardContent">
                            <div class="cardMainContent">
                              
                                <form asp-action="XoaKyDangKy" id="kyDangKyForm">
                                        <h5>@item.BeginDate - @item.EndDate<h5>
                                         <input type="hidden" name="BeginDate" value="@item.BeginDate"/>
                                         <input type="hidden" name="EndDate" value="@item.EndDate"/>
                                </form>
                                
                            </div>
                            <div class="cardSubContent">
                               
                            </div>
                        </div>
                        <div class="cardImage">
                            <div class="buttonAction">
                                <a class="btn btn-outline" onclick="document.getElementById('kyDangKyForm').submit();" >Xoá</a>
                            </div>
                        </div>
                    </div>
                }
                
                
            </div>
        </div>
    </div>

    
    <script>
        $(".menu li:nth-child(1)").addClass("active");
    </script>
    <script src="~/js/index.js"></script>

