@model IEnumerable<LearnASPWithAkichan.Models.ClassSession>
@{
    ViewData["Title"] = "Quản lý lớp học phần";
    ViewData["Description"] = "Thêm, tìm kiếm các môn học.";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

    <div class="filter">
        <ul>
            <li class="btn btn-outline"><i class="fa fa-plus" aria-hidden="true"></i> <a asp-action="TaoLopLopHocPhan" style="text-decoration:none !important;"> Tạo lớp học phần</a></li>
            <li class="input-box">

                            <div class="user-box" style="width: 100%;">
                                <form class="user-box" asp-action="TimKiemLopHocPhan" id="searchForm">
                                    <input type="text" name="timKiemString" required="" id="searchbar" placeholder="" value="@TempData["inputSearchValue"]">
                                    <label>Tìm kiếm <i class="fa fa-search" aria-hidden="true"></i></label>

                                </form>
                            </div>
             
            </li>
        </ul>
    </div>

    <!-- Ghi Xuất dữ liệu ở đây-->
    <div class="contentWrapper">
        <div class="contentCard longCard">
            <div class="cardContent">
                <div class="cardMainContent">
                    <h2>@ViewData["Title"]</h2>
                    <br>
                    <p>@ViewData["Description"]</p>
                </div>

                <div class="cardSubContent">
                </div>
            </div>

            <div class="cardImage">
                <img src="~/css/images/man-with-laptop-light.png" alt="ThongBao" srcset="">
            </div>

        </div>

    @foreach (var item in Model)
    {
        <div class="contentCard">
            <div class="cardContent">
                <div class="cardMainContent">
                    <p>Mã lớp học: @Html.DisplayFor(modelItem => item.Id)</p>
                    <h5>Khoa: @item.Department.Name - Môn: @item.Subject.Name<h5>
                    <p>Số lượng: @item.Amount</p>
                </div>
                <div class="cardSubContent">
                    <p>Ngày bắt đầu: @Html.DisplayFor(modelItem => item.BeginDate) - Ngày kết thúc: @Html.DisplayFor(modelItem => item.EndDate)</p>
                </div>
            </div>
            <div class="cardImage">
                <div class="buttonAction">
                    <a class="btn btn-outline dangKy" asp-route-id="@item.Id" asp-action="ChinhSuaLopHocPhan"> Chỉnh sửa</a>
                </div>
            </div>
        </div>
    }
</div>
        </div>
    </div>

@section Scripts{
    <script src="~/js/index.js"></script>
    <script>
       $(".menu li:nth-child(3)").addClass("active");
       $('#searchbar').on('input', function() { 
            $('#searchbar').keypress(function(event){
            if(event.keyCode == 13){
               $("#searchForm").submit();
                }
            });
        });

    </script>
    }