@model IEnumerable<LearnASPWithAkichan.Models.ClassSession>
@{
    ViewData["Title"] = "Danh sách lớp học phần";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

            @*<div class="filter">
                <ul>
                    <li class="btn btn-outline btnActive" id="theo-ke-hoach-btn"><a class="thea"> Theo kế hoạch</a></li>
                    <li class="btn btn-outline" id="ngoai-ke-hoach-btn"><a asp-action="ThongBao" class="thea"> Ngoài kế hoạch</a></li>
                </ul>
            </div>*@
            
            <!-- Ghi Xuất dữ liệu ở đây-->
            <div class="contentWrapper">

                <div class="contentCard longCard">
                    <div class="cardContent">
                       <div class="cardMainContent">
                            <h2>@ViewData["Title"]</h2>
                            <br>
                            <p> @ViewData["Description"]</p>
                       </div>

                       <div class="cardSubContent">
                            

                       </div>
                    </div>

                    <div class="cardImage">
                        <img src="~/css/images/man-with-laptop-light.png" alt="ThongBao" srcset="">
                    </div>

                </div>      
                

                    @{
                        if (Model != null)
                        {
                            @foreach (var item in Model)
                                {
                                    <div class="contentCard">
                                    <div class="cardContent">
                                      <div class="cardMainContent">
                                        <p>Mã môn: @item.SubjectId</p>
                                        <h5>Mã lớp học phần: @item.Id</h5>
                                        <p>@item.BeginDate - @item.EndDate</p>
                                      </div>
                                      <div class="cardSubContent">
                                        <p>Số lượng: @item.Amount</p>
                                      </div>
                                    </div>
                                    <div class="cardImage">
                                      <div class="buttonAction">
                                        <a  class="btn btn-outline dangKy" asp-action="add" asp-controller="Home" asp-route-id="@item.Id" id="register-btn" disabled tabindex="-1">Đăng ký </a>
                                      </div>
                                    </div>
                                  </div>
                                }
                        }
                    }
                
            </div>

    <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        <script>
        $(".menu li:nth-child(1)").addClass("active");
        $(".menu li:nth-child(2)").removeClass("active");
    </script>

    <script src="~/js/index.js"></script>