@model IEnumerable<LearnASPWithAkichan.Models.Subject>      
@{
    ViewData["Title"] = "Đăng ký môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Description"] = TempData["notification"];
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

            <div class="filter">
                <ul>
                    <li class="btn btn-outline btnActive" id="theo-ke-hoach-btn">Theo kế hoạch</li>
                    <li class="btn btn-outline"  id="ngoai-ke-hoach-btn"><a asp-action="ThongBao" > Ngoài kế hoạch</a> </li>
                </ul>
            </div>
            
            <!-- Ghi Xuất dữ liệu ở đây-->
            <div class="contentWrapper">

                <div class="contentCard longCard">
                    <div class="cardContent">
                       <div class="cardMainContent">
                            <h2>@ViewData["Title"]</h2>
                            <br>
                            <p>@ViewData["Description"]</p>
                       </div>

                       <div class="cardSubContent">
                            

                       </div>
                    </div>

                    <div class="cardImage">
                        <img src="~/css/images/man-with-laptop-light.png" alt="ThongBao" srcset="">
                    </div>

                </div>     
                
                @{
                    if (Model !=null){
                        @foreach (var item in Model)
                        {
                            <div class="contentCard">
                            <div class="cardContent">
                              <div class="cardMainContent">
                                <p>@item.Id</p>
                                <h5>@item.Name</h5>
                                <p>Số tín chỉ: @item.Credits</p>
                              </div>
                              <div class="cardSubContent">
                              </div>
                            </div>
                            <div class="cardImage" id="DK">
                              <div class="buttonAction">
                                <a class="btn btn-outline dangKy" asp-route-id="@item.Id" asp-action="DanhSachLop" > Xem danh sách lớp</a>
                              </div>
                            </div>
                          </div>
               
                            }
                    }
                }
            </div>


 
    <script>
        $(".menu li:nth-child(1)").addClass("active");
    </script>

    <script src="~/js/index.js"></script>